/* Write your CSS here */

.ipl-dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Bree Serif';
  min-height: 100vh;
  padding: 20px;
  background-color: black;
  color: white;
}
.banner-style {
  width: 80vw;
}
.all-match-list-container-one {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.heading-container-one {
  display: flex;
  flex-direction: row;
  width: 80vw;
  font-size: 14px;
  justify-content: flex-start;
}
