/* Write your CSS here */
.latest-match-detail-container {
  display: flex;
  background-color: #1e293b;
  color: white;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  width: 80vw;
}

.image-latest-match-competitor {
  height: 150px;
  width: 150px;
  margin: 20px;
}
.heading-style-latest-match {
  font-size: 25px;
  font-weight: normal;
}
.para {
  font-size: 15px;
}
@media screen and (max-height: 700px) {
  .latest-match-detail-container {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10px;
  }
  .image-latest-match-competitor {
    height: 80px;
    width: 60px;
    margin-right: 0px;
  }
  .heading-style-latest-match {
    font-size: 18px;
  }
  .cont {
    width: 150px;
    margin-left: 0;
  }
  .para {
    font-size: 10px;
  }
}
